<div class="relative top-24 flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h2 class="mt-10 text-center text-2xl/9 font-bold text-neutral">ログイン</h2>
  </div>

<%= form_with model: @user, url: user_session_path, data: { turbo: false } do |f| %> <!-- Userモデルに送る -->
  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">

  <!-- メールアドレス -->
  <div>
    <%= f.label :email, "メールアドレス", class: "block text-sm/6 font-medium text-neutral"%>
    <div class="mt-2">
      <%= f.email_field :email, autocomplete: "email", class: "block w-full rounded-md bg-primary px-3 py-1.5 text-base text-neutral outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm" %>
    </div>
  </div>


  <!-- パスワード -->
  <div class="flex items-center justify-between">
    <%= f.label :password, "パスワード", class: "block text-sm/6 font-medium text-neutral"%>
  </div>
  <div class="mt-2">
    <%= f.password_field :password, autocomplete: "current-password", class: "block w-full rounded-md bg-primary px-3 py-1.5 text-base text-neutral  outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm" %>
  </div>

  <!-- MVP時点では使用しない
  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>
  -->

  <div class="actions mt-8 flex w-full justify-center rounded-md bg-accent px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

  <div class="mt-6 flex justify-center block text-sm/6 font-medium text-neutral underline underline-offset-1">
    <%= render "users/shared/links" %>
  </div>
</div>
