<header class="navbar absolute h-20 w-full z-50 content-center shadow-md bg-secondary print:hidden">
  <div class="flex items-center justify-between w-full p-6">
    <div class="text-2xl text-primary [text-shadow:_0_1px_0_var(--tw-shadow-color)] shadow-accent">
      <%= link_to "すいみんにっし", root_path %>
    </div>
    <div class="space-x-4">
      <%= link_to "使いかた", "#", class: "hover:text-primary" %>
      <%= link_to "記録する", root_path, class: "hover:text-primary" %>
      <%= link_to "新規登録", new_user_registration_path, class: "hover:text-primary" %>
      <%= link_to "ログイン", new_user_session_path, method: :delete, class: "hover:text-primary" %>
    </div>
  </div>
</header>