<header class="print:hidden fixed top-0 h-20 w-full z-50 content-center shadow-md bg-secondary">
  <div class="flex items-center justify-between w-full px-6">
    <div class="text-base ms:text-xl md:text-3xl text-primary [text-shadow:_0_1px_0_var(--tw-shadow-color)] shadow-accent">
      <%= link_to "すいみんにっし", root_path %>
    </div>
    <div class="space-x-1 md:space-x-4 text-xs ms:text-sm md:text-base">
      <%= link_to "使いかた", headers_how_to_use_path, class: "hover:text-primary" %>
      <%= link_to "記録する", sleep_logs_path, class: "hover:text-primary" %>
      <%= link_to "新規登録", new_user_registration_path, class: "hover:text-primary" %>
      <%= link_to "ログイン", new_user_session_path, method: :delete, class: "hover:text-primary" %>
    </div>
  </div>
</header>