<header class="print:hidden relative fixed top-0 left-0 h-20 w-full z-50 p-4 content-center bg-cover bg-secondary">
<!-- ナビゲーションバー -->
  <nav class="flex items-center justify-between">
    <div class="flex items-center flex-shrink-0">
      <%= link_to "すいみんにっし", root_path, class: "text-2xl drop-shadow-md text-primary" %>
    </div>
    <div class="flex space-x-6">
      <%= link_to "使いかた", "#", class: "text-neutral hover:text-primary" %>
      <%= link_to "記録する", root_path, class: "text-neutral hover:text-primary" %>
      <%= link_to "設定", users_edit_profile_path, class: "text-neutral hover:text-primary" %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "text-neutral hover:text-primary" %>
    </div>
  </nav>
</header>