<!-- 編集モーダルフォーム -->
<%= turbo_frame_tag "sleep_log_modal" do %>
  <!-- targetでモーダル外と判別する -->
  <!-- モーダル外をクリックすると、closeBackgroundアクションが呼び出され自動的に閉じる -->
  <div class="fixed inset-0 flex items-center justify-center z-50 bg-gray-50 bg-gray-500 bg-opacity-50"
    data-controller="sleep_log_modal"
    data-sleep-log-modal-target="backGround"
    data-action="click->sleep-log-modal#closeBackground">
    <!-- モーダル内 -->
    <div class="modal-content bg-primary rounded-xl shadow-lg p-10 w-18 md:w-[450px]"
      data-sleep-log-modal-target="sleepLogModal">
      <div class="flex justify-end items-center">
        <!-- iタグをクリックするとcloseModalアクションを呼び出す -->
        <i class="fa-solid fa-xmark h-6 w-6 hover:text-warning" data-action="click->sleep-log-modal#closeModal"></i>
      </div>
      <!-- form_withにdata属性を指定し、フォームが送信されたらcloseアクションを呼び出す -->
      <%= form_with model: @sleep_log, url: edit_sleep_log_path(@sleep_log), data: { action: "turbo:submit-end->sleep-log-modal#close" }, method: :post do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="max-w-lg mx-auto p-2 md:p-6 bg-base-100 rounded-xl space-y-2 md:space-y-4">
          <div class="sm:col-span-3">
            <%= f.label :go_to_bed_at, "就床時刻" %>
            <%= f.time_field :go_to_bed_at,
                value: (sleep_log.go_to_bed_at || @default_date).strftime('%H:%M')> %> <!-- データがなければデフォルト本日の日時を出す -->
          </div>

          <div class="sm:col-span-3">
            <%= f.label :fell_asleep_at, "就寝時刻" %>
            <%= f.time_field :fell_asleep_at,
                value: (sleep_log.fell_asleep_at || @default_date).strftime('%H:%M')> %>
          </div>

          <div class="sm:col-span-3">
            <%= f.label :woke_up_at, "覚醒時刻" %>
            <%= f.time_field :woke_up_at,
                value: (sleep_log.woke_up_at || @default_date).strftime('%H:%M')> %>
          </div>

          <div class="sm:col-span-3">
            <%= f.label :leave_bed_at, "起床時刻" %>
            <%= f.time_field :leave_bed_at,
                value: (sleep_log.leave_bed_at || @default_date).strftime('%H:%M')> %>
          </div>
          <%= f.submit '登録', class: 'w-full py-2 px-4 bg-accent text-primary rounded-xl' %>
        </div>
      <% end %>>
    </div>
  </div>
<% end %>





<%
=begin%>
 <%= turbo_frame_tag "edit-modal-#{sleep_log.id}" do %>
  <div id="edit-modal"class="fixed inset-0 bg-gray-500 bg-opacity-50 flex justify-center items-center z-50
    <%= form_with(mode: sleep_log, url: sleep_log_path(sleep_log), method: :patch) do |f| %>

      <div class="form-group mb-4">
        <%= f.label :go_to_bed_at, "就床時刻" %>
        <%= f.datetime_local_field :go_to_bed_at,
            value: (sleep_log.go_to_bed_at || @default_date).strftime('%Y-%m-%dT%H:%M'), class: "form-control" %>
      </div>

      <div class="form-group mb-4">
        <%= f.label :fell_asleep_at, "就寝時刻" %>
        <%= f.datetime_local_field :fell_asleep_at,
            value: (sleep_log.fell_asleep_at || @default_date).strftime('%Y-%m-%dT%H:%M'), class: "form-control" %>
      </div>

      <div class="form-group mb-4">
        <%= f.label :leave_bed_at, "起床時刻" %>
        <%= f.datetime_local_field :leave_bed_at,
            value: (sleep_log.leave_bed_at || @default_date).strftime('%Y-%m-%dT%H:%M'), class: "form-control" %>
      </div>

      <div class="form-group mb-4">
        <%= f.label :awakenings_count, "中途覚醒（回数）" %>
        <%= f.number_field :awakenings_count,
            value: sleep_log.awakenings_count, min: 0, class: "form-control" %>
      </div>

      <div class="form-group mb-4">
        <%= f.label :napping_time, "昼寝時間（分）" %>
        <%= f.number_field :napping_time, value: sleep_log.napping_time, min: 0, class: "form-control" %>
      </div>

      <div class="form-group mb-4">
        <%= f.label :comment, "備考" %>
        <%= f.text_area :comment, value: sleep_log.comment, rows: 3, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.submit "登録", class: "bg-blue-500 text-white py-2 px-4 rounded w-full" %>
      </div>

      <button type="button" onclick="closeModal()" class="text-red-500 mt-4">閉じる</button>
    </div>
  <% end %>
<% end %> 
<%
=end%>
