<tbody>
  <% (@start_date..@end_date).each do |date| %> <!-- 月初から月末までの日付を繰り返し処理する -->
    <% sleep_log = @sleep_logs.find { |log| log.date == date } %>
      <tr class="border border-secondary bg-primary">
        <td class="p-2 border border-secondary bg-primary"><%= date.day %></td>
        <td class="p-2 border border-secondary bg-primary"><%= %w[日 月 火 水 木 金 土][date.wday] %></td>
        <td class="p-2 border border-secondary bg-primary"><%= sleep_log&.go_to_bed_at&.strftime('%H:%M') || '--:--' %></td>
        <td class="p-2 border border-secondary bg-primary"><%= sleep_log&.fell_asleep_at&.strftime('%H:%M') || '--:--' %></td>
        <td class="p-2 border border-secondary bg-primary"><%= sleep_log&.woke_up_at&.strftime('%H:%M') || '--:--' %></td>
        <td class="p-2 border border-secondary bg-primary"><%= sleep_log&.leave_bed_at&.strftime('%H:%M') || '--:--' %></td>
        <td class="p-2 border border-secondary bg-primary">
          <% if sleep_log&.fell_asleep_at && sleep_log&.woke_up_at %>
            <% fell_asleep = sleep_log.fell_asleep_at
              woke_up = sleep_log.woke_up_at %>
            <!-- もしwoke_up_atがfell_asleep_atより早ければ、1日加算して計算する -->
            <% if woke_up < fell_asleep %>
              <% woke_up += 1.day %>  <!-- 1日分足す -->
            <% end %>
            <% sleep_duration = woke_up - fell_asleep %>  <!-- 差を計算 -->
            <%= Time.at(sleep_duration).strftime('%H時間%M分') %>  <!-- 時間の差を表示 -->
          <% else %>
            --:--
          <% end %>
        </td>
        <td class="p-2 border border-secondary bg-primary"><%= sleep_log&.awakening&.awakenings_count || 0 %></td>
        <td class="p-2 border border-secondary bg-primary"><%= sleep_log&.napping_time&.napping_time || 0 %></td>
        <td class="p-1 border border-secondary bg-primary"><%= sleep_log&.comment&.comment || '' %></td>

        <td class="p-2 border border-secondary bg-primary">
          <span class="material-symbols-outlined inline-flex"> <!-- 祈りのinline-flex. クリック範囲広がれ -->
            <!-- ボタンを押すとモーダル現る -->
            <%= link_to 'edit_square', edit_sleep_log_path(sleep_log, date: date), data: { turbo_frame: 'sleep_log_modal'} %>
          </span>
        </td>


      </td>
    </tr>
  <% end %>
</tbody>