<%
=begin%>
 <!-- _form_html.erbで編集した記録をレコードに反映させる -->
<%= turbo_frame_tag sleep_log do %>
    <tr class="border border-secondary bg-primary">
      <td class="p-2 border border-secondary bg-primary"><%= sleep_log.date.day %></td>
      <td class="p-2 border border-secondary bg-primary"><%= %w[日 月 火 水 木 金 土][sleep_log.date.wday] %></td>
      <td class="p-2 border border-secondary bg-primary"><%= sleep_log.go_to_bed_at&.strftime('%H:%M') || '--:--' %></td>
      <td class="p-2 border border-secondary bg-primary"><%= sleep_log&.fell_asleep_at&.strftime('%H:%M') || '--:--' %></td>
      <td class="p-2 border border-secondary bg-primary"><%= sleep_log&.woke_up_at&.strftime('%H:%M') || '--:--' %></td>
      <td class="p-2 border border-secondary bg-primary"><%= sleep_log&.leave_bed_at&.strftime('%H:%M') || '--:--' %></td>
<% end %>

<tr id="sleep-log-<%= sleep_log.id %>">
  <td class="p-2 border border-secondary bg-primary"><%= sleep_log.date.day %></td>
  <td class="p-2 border border-secondary bg-primary"><%= %w[日 月 火 水 木 金 土][sleep_log.date.wday] %></td>
  <td class="p-2 border border-secondary bg-primary"><%= sleep_log.go_to_bed_at&.strftime('%H:%M') || '--:--' %></td>
  <td class="p-2 border border-secondary bg-primary"><%= sleep_log.fell_asleep_at&.strftime('%H:%M') || '--:--' %></td>
  <td class="p-2 border border-secondary bg-primary"><%= sleep_log.woke_up_at&.strftime('%H:%M') || '--:--' %></td>
  <td class="p-2 border border-secondary bg-primary"><%= sleep_log.leave_bed_at&.strftime('%H:%M') || '--:--' %></td>
  <td class="p-2 border border-secondary bg-primary">
    <%= calculate_sleep_duration(sleep_log) %>
  </td>
  <td class="p-2 border border-secondary bg-primary"><%= sleep_log.awakening_count || 0 %></td>
  <td class="p-2 border border-secondary bg-primary"><%= sleep_log.napping_time || 0 %></td>
  <td class="p-1 border border-secondary bg-primary"><%= sleep_log.comment || '' %></td>
  <td class="p-2 border border-secondary bg-primary">
    <%= link_to "編集", edit_sleep_log_path(sleep_log), class: "cursor-pointer" %>
  </td>
</tr>
 
<%
=end%>
