# 編集画面

<div class="fixed inset-0 bg-gray-500 bg-opacity-50 flex justify-center items-center z-50">
  <%= form_with(model: @sleep_log, url: sleep_log_path(@sleep_log), method: :patch) do |f| %>
    <div>
      <%= f.label :go_to_bed_at, "就床時刻" %>
      <%= f.datetime_local_field :go_to_bed_at,
          value: (@sleep_log.go_to_bed_at)&.strftime('%H:%M') || '' %>
    </div>

    <div>
      <%= f.label :fell_asleep_at, "就寝時刻" %>
      <%= f.datetime_local_field :fell_asleep_at,
          value: (@sleep_log.fell_asleep_at)&.strftime('%H:%M') || ''  %>
    </div>

    <div>
      <%= f.label :woke_up_at, "覚醒時刻" %>
      <%= f.datetime_local_field :woke_up_at,
          value: (@sleep_log.woke_up_at)&.strftime('%H:%M') || ''  %>
    </div>

    <div>
      <%= f.label :leave_bed_at, "起床時刻" %>
      <%= f.datetime_local_field :leave_bed_at,
          value: (@sleep_log.leave_bed_at)&.strftime('%H:%M') || ''  %>
    </div>

    <div>
      <%= f.label :awakenings_count, "中途覚醒（回数）" %>
      <%= f.number_field :awakenings_count,
          value: @sleep_log.awakening.awakenings_count, min: 0 %>
    </div>

    <div>
      <%= f.label :napping_time, "昼寝時間（分）" %>
      <%= f.number_field :napping_time, value: @sleep_log.napping_time, min: 0 %>
    </div>

    <div>
      <%= f.label :comment, "備考" %>
      <%= f.text_area :comment, value: @sleep_log.comment, rows: 3 %>
    </div>

    <div class="form-group">
      <%= f.submit "登録", class: "bg-blue-500 text-white py-2 px-4 rounded w-full" %>
    </div>

    <button type="button" onclick="closeModal()" class="text-red-500 mt-4">閉じる</button>
  <% end %>
</div>
