<div class="print:my-0 print:space-y-0 my-8 md:my-16 w-full space-y-6 md:space-y-16">
  <div class="flex justify-center items-center print:m-2">

    <!-- 印刷時非表示: 年月選択 -->
    <div class="print:hidden">
      <%= form_with(url: sleep_logs_path, method: :get, data: { turbo: true }) do |f| %>
        <div class="btn flex items-center form-group btn-xs sm:btn-sm md:btn-md bg-primary relative overflow-hidden cursor-pointer text-xs md:text-base text-neutral"
            onclick="document.getElementById('year_month_selector').showPicker();">
          <span class="material-symbols-outlined text-sm md:text-xl">
            calendar_month
          </span>
          <!-- 年月直接入力をナシに -->
          <span class="pointer-events-none">
            <%= @selected_date.strftime('%Y年%m月') %>
          </span>
          <!-- 13機関みたいな存在感 -->
          <%= f.month_field :year_month,
                            id: 'year_month_selector',
                            class: 'absolute top-0 left-0 w-full h-full opacity-0',
                            value: @selected_date.strftime('%Y-%m'),
                            onchange: 'this.form.submit();' %>
        </div>
      <% end %>
    </div>

    <!-- 印刷時表示: 年月 -->
    <div class="hidden print:block text-center font-bold">
      <%= @selected_date.strftime('%Y年%m月') %>
    </div>

    <!-- タイトル -->
    <div class="mx-8 text-center font-bold text-base md:text-xl">
      睡眠日誌
    </div>

    <!-- 印刷時非表示: 印刷ボタン -->
    <div class="print:hidden">
      <button onclick="print(); return false;" id="printButton" class="btn bg-primary btn-xs sm:btn-sm md:btn-md text-sm md:text-base text-neutral">
        <span class="material-symbols-outlined text-sm md:text-xl">
          print
        </span>
        印刷する
      </button>
    </div>

    <!-- 印刷時表示: ユーザー名 -->
    <div class="hidden print:block text-center font-bold">
      <%= current_user.name %>
    </div>

    <!-- Turbo Frameでモーダルの設定 -->
    <!-- daisyUIのモーダルを採用, submit後にもモーダルを閉じさせるし、どんな閉じ方しても閉じたよ〜ってのを他のactionにも伝える -->
    <dialog id="my_modal_3" class="modal" data-controller="modal" data-modal-target="dialog" data-action="turbo:submit-end->modal#formSubmission modal:close->modal#clearModal">
      <div class="modal-box h-auto">
        <!-- エラーメッセージ表示用Turbo Frame -->
        <%= turbo_frame_tag "modal_error_message_frame" %>

        <!-- 編集ボタンのactionで呼び出したnew, editファイルを空っぽのこれに置き換える -->
        <%= turbo_frame_tag "sleep_log_frame" %>

        <form method="dialog">
          <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2" data-action="click->modal#closeModal">✕</button>
        </form>
      </div>
    </dialog>
  </div>

  <!-- 睡眠記録テーブル -->
  <div class="mx-0 ms:mx-2 md:mx-32 flex justify-center">
        <%= render 'logs_table' %>
  </div>
</div>
