<div class="my-32 print:my-0">
  <div class="mb-12 flex justify-center items-center print:m-2">

    <!-- 印刷時非表示: 年月選択 -->
    <div class="print:hidden">
      <%= form_with(url: sleep_logs_path, method: :get, data: { turbo: true }) do |f| %>
        <div class="form-group btn bg-primary text-neutral px-4 py-2 rounded">
          <%= f.month_field :year_month,
                            class: 'form-control bg-primary',
                            value: @selected_date.strftime('%Y-%m'),
                            onchange: 'this.form.submit();' %>
        </div>
      <% end %>
    </div>

    <!-- 印刷時表示: 年月 -->
    <div class="hidden print:block text-center font-bold">
      <%= @selected_date.strftime('%Y年%m月') %>
    </div>

    <!-- タイトル -->
    <div class="mx-8 text-center font-bold text-lg">
      睡眠日誌
    </div>

    <!-- 印刷時非表示: 印刷ボタン -->
    <div class="print:hidden">
      <button onclick="print(); return false;" id="printButton" class="btn bg-primary text-neutral px-4 py-2 rounded">
        印刷する
      </button>
    </div>

    <!-- 印刷時表示: ユーザー名 -->
    <div class="hidden print:block text-center font-bold">
      <%= current_user.name %>
    </div>

    <!-- Turbo Frameでモーダルの設定 -->
    <dialog id="my_modal_3" class="modal" data-controller="modal" data-modal-target="dialog" data-action="turbo:submit-end->modal#formSubmission">
      <div class="modal-box h-auto">
        <div id="modal-error-message" class="">
        </div>

        <%= turbo_frame_tag "sleep_log_frame" %>

        <form method="dialog">
          <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
      </div>
    </dialog>
  </div>

  <!-- 睡眠記録テーブル -->
  <div class="mx-32 flex justify-center">
        <%= render 'logs_table' %>
  </div>
</div>
