<div class="relative w-4/5 place-self-center"> <!-- 横幅の80%で中央配置、親要素あり -->
  <div class="relative top-24 flex justify-center"> <!-- 子要素、上から94px、横軸は中央揃え -->

    <!-- 年月選択 -->
    <div class="print:hidden">
      <%= form_with(url: sleep_logs_path, method: :get, data: { turbo: true }) do |f| %>
        <div class="form-group">
          <%= f.month_field :year_month,
                            class: 'form-control bg-primary text-center',
                            value: @selected_date.strftime('%Y-%m'),
                            onchange: 'this.form.submit();' %>
        </div>
      <% end %>
    </div>

    <!-- 印刷用：年月タイトル -->
    <h1 class="hidden print:block size-52 font-bold text-center">
      <%= @selected_date.strftime('%Y-%m') %>
    </h1>

    <p class="size-52 font-bold text-center">睡眠日誌</p>

    <!-- 通常表示：PDF出力ボタン（印刷には表示しない） -->
    <div class="print:hidden">
      <%= link_to 'PDFに出力',
                  pdf_sleep_logs_path(year_month: @selected_date.strftime('%Y-%m')),
                  target: "_blank",
                  class: 'btn bg-primary text-neutral px-4 py-2 rounded' %>
    </div>

    <!-- 印刷用：ユーザー名を表示 -->
    <p class="hidden print:block size-52 font-bold text-center">
      <%= current_user.name %>
    </p>
  </div>

  <!-- 睡眠記録テーブル -->
  <div id="sleep-logs-table"> <!-- テーブルごとに一意の識別子を用意することで、指定の部分のみを更新できるようにしている  -->
    <table class="relative mb-24 text-center text-sm text-neutral"> <!-- 要カスタマイズ -->
      <thead>
        <tr class="p-4">
          <th class="border border-secondary bg-primary">日</th>
          <th class="border border-secondary bg-primary">曜日</th>
          <th class="border border-secondary bg-primary">就床時刻</th>
          <th class="border border-secondary bg-primary">就寝時刻</th>
          <th class="border border-secondary bg-primary">覚醒時刻</th>
          <th class="border border-secondary bg-primary">起床時刻</th>
          <th class="border border-secondary bg-primary">睡眠時間</th>
          <th class="border border-secondary bg-primary">中途覚醒(回)</th>
          <th class="border border-secondary bg-primary">昼寝時間(分)</th>
          <th class="border border-secondary bg-primary">備考</th>
          <!-- 編集ボタンのみプリントしない -->
          <th class="print:hidden border border-secondary bg-primary">編集</th>
        </tr>
      </thead>
      <%= render 'logs_table' %>
    </table>
  </div>
</div>
