<!DOCTYPE html>
<html>
  <head>
    <!-- ビューごとで動的にタイトルをつける -->
    <title><%= content_for(:title) || "Sleep Logger" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %> <!-- CSRG攻撃を防ぐためのトークン -->
    <%= csp_meta_tag %> <!-- CSPを設定するタグ -->

    <%= yield :head %>
    <link rel="manifest" href="/manifest.json">

    <!-- ファビコン -->
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="icon" type="image/svg+xml" href="/icon.svg">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" sizes="180x180">
    <link rel="manifest" href="/site.webmanifest">

    <!-- GoggleFont -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap" rel="stylesheet">

    <!-- Icon -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=edit_square" />

    <!-- Turbo使用時、アセットが更新されたときに再ロードする -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="kiwi-maru-regular w-screen bg-cover text-neutral base-100 print:flex print:items-center print:justify-center print:min-h-screen print:bg-transparent"> <!-- 印刷時中央寄せ&まじない程度に印刷時背景透明 -->
    <% if user_signed_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>
    <%= render 'shared/flash' %>
    <div class="py-20"> <!-- ヘッダーの高さがh-20 -->
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
