<div class="relative flex-col justify-center items-center py-6 md:py-16 flex min-h-full">
  <div class="card bg-secondary w-96 shadow-sm p-8">
    <div>
      <h2 class="mt-10 text-center text-2xl/9 font-bold">ユーザー設定</h2>
    </div>

    <%= form_with model: current_user, url: users_update_profile_path, method: :patch, data: { turbo: false } do |f| %> <!-- Userモデルに送る -->
      <div class="mt-10 space-y-4 w-full">
        <%= render "users/shared/error_messages", resource: current_user %> <!-- エラー発生時の部分テンプレート -->

        <!-- お名前 -->
        <div>
          <%= f.label :name, "お名前", class:  "block text-sm/6 font-medium"%>
          <div class="mt-2">
            <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "input input-sm w-full rounded-md bg-primary px-3 py-1.5 outline outline-1 -outline-offset-1 outline-secondary" %>
          </div>
        </div>

        <!-- メールアドレス -->
        <div>
          <%= f.label :email, "メールアドレス", class: "block text-sm/6 font-medium"%>
          <div class="mt-2">
            <%= f.email_field :email, autocomplete: "email", class: "input input-sm w-full rounded-md bg-primary px-3 py-1.5 outline outline-1 -outline-offset-1 outline-secondary" %>
          </div>
        </div>
      </div>

        <div class="actions mt-10 flex w-full justify-center rounded-md bg-accent px-3 py-1.5 font-semibold text-primary shadow-sm">
          <%= f.submit t("helpers.submit.create") %>
        </div>
    <% end %>

    <div class="mt-10 text-center">
      <div>
        <%= link_to t("views.links.change_password"), :users_edit_password %>
      </div>

      <div class="mt-4 text-warning">
        <%= link_to t("views.links.unsubscribe"), :users_unsubscribe_confirm %>
      </div>
    </div>
  </div>
</div>
