<div class="relative top-24 flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h2 class="mt-10 text-center text-2xl/9 font-bold text-neutral">新規登録</h2>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %> <!-- Userモデルに送る -->
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <%= render "users/shared/error_messages", resource: resource %> <!-- エラー発生時の部分テンプレート -->

      <!-- お名前 -->
      <div>
        <%= f.label :name, "お名前", class:  "block text-sm/6 font-medium text-neutral"%>
        <div class="mt-2">
          <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
        </div>
      </div>

      <!-- メールアドレス -->
      <div>
        <%= f.label :email, "メールアドレス", class: "block text-sm/6 font-medium text-neutral"%>
        <div class="mt-2">
          <%= f.email_field :email, autocomplete: "email", class: "block w-full rounded-md bg-primary px-3 py-1.5 text-base text-neutral outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm" %>
        </div>
      </div>

      <!-- パスワード -->
      <div class="flex items-center justify-between">
        <%= f.label :password, "パスワード", class: "block text-sm/6 font-medium text-neutral"%>
        <% if @minimum_password_length %>
          <em class="text-sm text-gray-500">(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <div class="mt-2">
          <%= f.password_field :password, autocomplete: "new-password" , class: "block w-full rounded-md bg-primary px-3 py-1.5 text-base text-neutral  outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm" %>
        </div>
      </div>

      <div>
        <%= f.label :password_confirmation, "パスワード確認", class: "block text-sm/6 font-medium text-neutral"%>
        <div class="mt-2">
          <%= f.password_field :password_confirmation, autocomplete: "new-password" , class: "block w-full rounded-md bg-primary px-3 py-1.5 text-base text-neutral outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm" %>
        </div>
      </div>

      <div class="actions flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
        <%= f.submit "Sign up"%>
      </div>
    </div>
  <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>